<div id="wp-one-time-popup-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="message">
            <p>$MESSAGE$</p>
        </div>
        <p class="consent"><button type="button">$BUTTON$</button></p>
    </div>
</div>
