#wp-one-time-popup-modal.modal {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#wp-one-time-popup-modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#wp-one-time-popup-modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#wp-one-time-popup-modal .close:hover,
#wp-one-time-popup-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#wp-one-time-popup-modal .consent {
text-align: center;
}
    #wp-one-time-popup-modal .consent button {
        cursor: pointer;
        background: #4e97e1;
    border: none;
    padding: 12px;
    color: #fff;
    /*text-transform: uppercase;*/
    top: -63px;
    font-size: 15px;
}